---
import Layout from '../layout/layout.astro';
import Background from '../components/Home/Background.astro';
import SectionWrapper from '../components/UniversalComponents/SectionWrapper.astro';
import FancyButton from '../components/UniversalComponents/FancyButton.astro';
---

<Layout>
    <Background/>
    <SectionWrapper gap="0rem" y="-10vh">
        <section>
            <h1>About Me</h1>
            <p>
                I am a graduate of a technical high school specializing in computer science.
                After classes, I devoted myself to learning programming,
                which became my primary hobby at that time.
                I would like to significantly develop my skills in this field
                by starting a career as a programmer.
            </p>
            <a href="/portfolio-new/CV4_ENG.pdf">
                <FancyButton fontSize="1.6rem">My Resume</FancyButton>
            </a>
        </section>
    </SectionWrapper>
</Layout>

<style lang="scss">

  body {
    overflow: hidden;
  }

  section {
    width: 50vw;
    min-width: 25rem;
    height: 50vh;
    min-height: 15rem;
    border-radius: 2rem;
    padding: 2rem;

    a {
      text-decoration: none;
    }

    @media screen and (max-width: 992px) {
      width: 90vw;
      min-width: 25rem;
      height: 50vh;
      min-height: 25rem;
    }

    animation: slideIn 350ms;

    * {
      color: var(--textColor);
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 3rem;
    }

    p {
      font-size: 1.6rem;
      max-width: 90%;
      font-family: 'Inter', sans-serif;

      @media screen and (max-width: 992px) {
        font-size: 1.25rem;
        max-width: 100%;
        text-align: left;
      }
    }
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-5vw);
    }

    to {
      opacity: 1;
      transform: translateX(0vw);
    }
  }
</style>