---
import Layout from '../layout/Layout.astro';
import Background from '../components/Home/Background.astro';
import { Image } from "astro:assets";

import linkedin from '../../public/contactIcons/linkedin.png';
import github from '../../public/contactIcons/github.png';
import mail from '../../public/contactIcons/gmail.png';
---

<Layout>
    <Background />
    <main>
        <h1>Contact</h1>
        <section class="contactOption">
            <div class="contactOption__el">
                <Image src={mail} alt="mail" />
                <p>mail</p>
            </div>
            <div class="contactOption__el">
                <Image src={github} alt="github" />
                <p>Github</p>
            </div>
            <div class="contactOption__el">
                <Image src={linkedin} alt="linkedin" />
                <p>Linkedin</p>
            </div>
        </section>
    </main>
</Layout>

<style lang="scss">
    main {
        width : 100vw;
        height : 100vh;
        transform : translateY(-8vh);

        display : flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .contactOption {
          width : 50%;
          min-width : 25rem;
          margin-top: 5rem;

          display: flex;
          justify-content: space-between;
          align-items: center;
          animation: appear2 600ms;

          @media screen and (max-width: 992px) {
            flex-direction: column;
          }

          &__el {
            width : 30%;
            height: 25%;
            min-height: 12rem;
            border: solid var(--textColor) 3px;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background-color: rgba(75, 133, 221, 0.1);
            transition: background-color 250ms;
            will-change: background-color;

            @media screen and (max-width: 992px) {
              width : 100%;
              margin-top: 1rem;
            }

            img {
                object-fit: contain;
                width : 30%;
            }

            p {
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              color : var(--textColor);
              width : 100%;
              margin-top: .25rem;
            }
          }

          &__el:hover {
            background-color: rgba(75, 133, 221, 0.25);
          }
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size : 3rem;
            color : var(--textColor);
            width : 50%;
            min-width : 25rem;
            position: relative;

            animation: appear1 400ms;
        }

        h1::before {
          content: '';
          position: absolute;
          background-color: var(--textColor);
          width : 100%;
          height : 3px;
          bottom : 0;
          left : 0;
        }
    }

    @keyframes appear1 {
      from {
        opacity : 0;
        transform: translateY(-5vh);
      }

      to {
        opacity : 1;
        transform: translateY(0vh);
      }
    }

    @keyframes appear2 {
      0% {
        opacity : 0;
        transform: translateY(-5vh);
      }

      50% {
        opacity : 0;
        transform: translateY(-5vh);
      }

      100% {
        opacity : 1;
        transform: translateY(0vh);
      }
    }
</style>
