---
import Layout from '../layout/layout.astro';
import Background from '../components/Home/Background.astro';
import SectionWrapper from '../components/UniversalComponents/SectionWrapper.astro';
import FancyButton from '../components/UniversalComponents/FancyButton.astro';
---

<Layout>
	<Background transition:animate="none" />
	<SectionWrapper id="main" gap="3rem" y="-6vh">
		<h1>Hi, I'm
			<span>
				Krystian Zieja
			</span>
		</h1>
		<h2>
			Web Developer
			<label id="underline">_</label>
		</h2>
		<div class="homeButtons">
			<a href="/portfolio-new/projects">
				<FancyButton fontSize="1.4rem">My Projects</FancyButton>
			</a>
			<a href="/portfolio-new/about">
				<FancyButton fontSize="1.4rem">About Me</FancyButton>
			</a>
		</div>
	</SectionWrapper>
</Layout>

<script lang="js">
	const underline = document.querySelector('#underline');
	let isUnderlineActive = false;

	setInterval(() => {
		isUnderlineActive = !isUnderlineActive;
		if(isUnderlineActive) {
			underline.style.opacity = 1;
		}
		else {
			underline.style.opacity = 0;
		}
	}, 500);
</script>

<style lang="scss">
	body {
		overflow: hidden;
	}

	.homeButtons {
		display: flex;
		gap : 2rem;
		animation: appear3 800ms;

		@media screen and (max-width: 800px) {
			margin-bottom: 15vh;
		}

		a {
			text-decoration: none;
		}

	}

	h1, h2 {
		color: var(--textColor);
		text-align: center;
		z-index: -3;
	}

	h1 {
		font-weight: 600;
		font-size: 5rem;
		font-family: 'Montserrat', sans-serif;
		animation: appear 400ms;

		@media screen and (max-width : 380px) {
			font-size : 4.5rem;
		}

		@media screen and (max-width : 300px) {
			font-size : 3.5rem;
		}

		span {
			background: -webkit-linear-gradient(45deg, #4782dc, #2769cb);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent
		}
	}

	h2 {
		font-family: 'Inter', sans-serif;
		font-weight: 500;
		font-size : 3rem;
		animation: appear2 550ms;

		@media screen and (max-width : 380px) {
			font-size : 2.5rem;
		}

		@media screen and (max-width : 300px) {
			font-size : 2rem;
		}
	}

	@keyframes appear {
		from {
			opacity : 0;
			transform: translateY(-5vh);
		}

		to {
			opacity : 1;
			transform: translateY(0vh);
		}
	}

	@keyframes appear2 {
		0% {
			opacity : 0;
			transform: translateY(-5vh);
		}

		30% {
			opacity : 0;
			transform: translateY(-5vh);
		}

		100% {
			opacity : 1;
			transform: translateY(0vh);
		}
	}

	@keyframes appear3 {
		0% {
			opacity : 0;
			transform: translateY(-5vh);
		}

		60% {
			opacity : 0;
			transform: translateY(-5vh);
		}

		100% {
			opacity : 1;
			transform: translateY(0vh);
		}
	}
</style>


