---
import Layout from '../layout/Layout.astro';
import Background from '../components/Home/Background.astro';
---

<Layout>
	<Background />
	<main>
		<h1>Hi, I'm
			<span>
				Krystian Zieja
			</span>
		</h1>
		<h2>
			Web Developer
			<label id="underline">_</label>
		</h2>
		<div class="homeButtons">
			<button>My Projects</button>
			<button>About Me</button>
		</div>
	</main>
</Layout>

<script client:load>
	const underline = document.querySelector('#underline');
	let isUnderlineActive = false;

	setInterval(() => {
		isUnderlineActive = !isUnderlineActive;
		if(isUnderlineActive) {
			underline.style.opacity = 1;
		}
		else {
			underline.style.opacity = 0;
		}
	}, 500);
</script>

<style lang="scss">
	main {
		width : 100vw;
		height : 100vh;

		display : flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap : 3rem;

		.homeButtons {
			display: flex;
			gap : 2rem;

			button {
				display: block;
				background-color: transparent;
				border: none;
				font-family: 'Montserrat', sans-serif;
				color: var(--textColor);
				cursor: pointer;
				font-size : 1.4rem;
				position: relative;
				padding-top : 1rem;
				transition: transform 250ms;
			}

			button::before {
				content: '';
				position : absolute;
				display : block;
				width : 100%;
				height : 4%;
				background-color: var(--textColor);
				transform: scaleX(0);
				transition: transform 250ms;
				bottom: 0;
				left: 0;
			}

			button:hover::before {
				transform: scaleX(1);
			}

			button:hover {
				transform: translateY(-0.25rem);
			}
		}

		h1, h2 {
			color: var(--textColor);
			text-align: center;
		}

		h1 {
			font-weight: 600;
			font-size: 5rem;
			font-family: 'Montserrat', sans-serif;

			span {
				background: -webkit-linear-gradient(45deg, #4782dc, #2769cb);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent
			}
		}

		h2 {
			font-family: 'Inter', sans-serif;
			font-weight: 500;
			font-size : 3rem;
		}
	}
</style>


