---
import Layout from '../layout/Layout.astro';
import Background from '../components/Home/Background.astro';
import {Image} from "astro:assets";

import astroLogo from '../../public/logos/astro.png';
import bootstrapLogo from '../../public/logos/bootstrap.png';
import cssLogo from '../../public/logos/css-3.png';
import gitLogo from '../../public/logos/git.png';
import htmlLogo from '../../public/logos/html.png';
import jsLogo from '../../public/logos/js.png';
import laravelLogo from '../../public/logos/laravel.png';
import phpLogo from '../../public/logos/php.png';
import preactLogo from '../../public/logos/preact.png';
import pythonLogo from '../../public/logos/Python.svg';
import qwikLogo from '../../public/logos/qwik.svg';
import reactLogo from '../../public/logos/react.png';
import reduxLogo from '../../public/logos/redux.svg';
import sassLogo from '../../public/logos/sass.png';
import tsLogo from '../../public/logos/typescript.png';

const skillsData = [
    {
        name : 'Astro',
        logo : astroLogo
    },
    {
        name : 'Bootstrap',
        logo : bootstrapLogo
    },
    {
        name : 'CSS',
        logo : cssLogo
    },
    {
        name : 'GIT',
        logo : gitLogo
    },
    {
        name : 'HTML',
        logo : htmlLogo
    },
    {
        name : 'Javascript',
        logo : jsLogo
    },
    {
        name : 'Laravel',
        logo : laravelLogo
    },
    {
        name : 'PHP',
        logo : phpLogo
    },
    {
        name : 'Preact',
        logo : preactLogo
    },
    {
        name : 'Python',
        logo : pythonLogo
    },
    {
        name : 'QWIK',
        logo : qwikLogo
    },
    {
        name : 'React',
        logo : reactLogo
    },
    {
        name : 'Redux',
        logo : reduxLogo
    },
    {
        name : 'SASS',
        logo : sassLogo
    },
    {
        name : 'Typescript',
        logo : tsLogo
    },
];
---

<Layout>
    <Background />
    <main>
        <h1>Skills</h1>
        <div class="skills">
            {skillsData.map(item => <div class="skill">
                <Image src={item.logo} alt={item.name} />
                <label>{item.name}</label>
            </div>)}
        </div>
    </main>
</Layout>

<style lang="scss">
    main {
        width : 100vw;
        height : 100vh;
        transform: translateY(-10vh);

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-family: 'Montserrat', sans-serif;
            font-size : 3rem;
            color : var(--textColor);
            width : 50%;
            min-width : 25rem;
            animation: app 500ms;
        }

        .skills {
          background-color: var(--primaryColor);
          margin-top: 2rem;
          width : 50%;
          min-width : 25rem;
          height : 70%;
          min-height: 30rem;
          border-radius: 2rem;
          animation: app2 500ms;
          padding : 1rem;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;

          .skill {
            border: solid var(--textColor) 2px;
            width : 6rem;
            height : 8rem;
            margin : .5rem;

            display : flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;

            img {
              width : 60%;
              height : 70%;
              object-fit: contain;
            }

            label {
              width : 100%;
              height : 20%;
              text-align: center;
              font-family: 'Montserrat', sans-serif;
              color : var(--textColor);
              margin-top : 0.25rem;
              font-size : 0.9rem;
            }
          }
        }
    }

    @keyframes app {
      from {
        opacity : 0;
        transform: translateX(-50px);
      }

      to {
        opacity : 1;
        transform: translateX(0px);
      }
    }

    @keyframes app2 {
      0% {
        opacity : 0;
        transform: translateX(-50px);
      }

      25% {
        opacity : 0;
        transform: translateX(-50px);
      }

      100% {
        opacity : 1;
        transform: translateX(0px);
      }
    }
</style>