---
import Ball from './Ball.astro';
import Circle from './Circle.astro';
import Square from './Square.astro';
import Triangle from './Triangle.astro';
import Pattern from './Pattern.astro';
import patImg from '../../images/pattern.png';
import cusImg from '../../images/custom.png';
---

<div class="background">
    <Pattern img={patImg} alt="Pattern Image" scale="1.25" xPos="10vw" yPos="-40vh" rot="69deg" />
    <Pattern img={cusImg} alt="Pattern Image" scale="1.25" xPos="-10vw" yPos="40vh" rot="69deg" />
    <Ball scale="1" xPos="-20vw" yPos="15vh" rot="0deg" />
    <Circle scale="1" xPos="35vw" yPos="-25vh" rot="0deg" />
    <Square scale="1" xPos="-30vw" yPos="-25vh" rot="35deg" />
    <Triangle scale="1" xPos="25vw" yPos="25vh" rot="15deg" />
    <Circle scale="0.6" xPos="-40vw" yPos="40vh" rot="0deg" />
</div>

<style>
    .background {
        position: fixed;
        width : 100vw;
        height : 100vh;
        display : flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }
</style>