---
import Ball from './Ball.astro';
import Circle from './Circle.astro';
import Square from './Square.astro';
import Triangle from './Triangle.astro';
import Pattern from './Pattern.astro';
import patImg from '../../images/pattern.png';
import cusImg from '../../images/custom.png';
---

<div class="background">
    <Pattern delay="600ms" img={patImg} alt="Pattern Image" scale="1" xPos="10vw" yPos="-40vh" rot="69deg" />
    <Pattern delay="550ms" img={cusImg} alt="Pattern Image" scale="1" xPos="-10vw" yPos="40vh" rot="69deg" />
    <Ball delay="450ms" scale="1" xPos="-20vw" yPos="15vh" rot="0deg" />
    <Circle delay="600ms" scale="1" xPos="35vw" yPos="-25vh" rot="0deg" />
    <Square delay="800ms" scale="1" xPos="-30vw" yPos="-25vh" rot="395deg" />
    <Triangle delay="700ms" scale="1" xPos="25vw" yPos="25vh" rot="375deg" />
    <Circle delay="750ms" scale="1" xPos="-40vw" yPos="40vh" rot="0deg" />
</div>

<style>
    .background {
        position: fixed;
        width : 100vw;
        height : 100vh;
        display : flex;
        justify-content: center;
        align-items: center;
        z-index: -3;
        pointer-events: none;
        transform : translateY(-5vh);
    }
</style>

<script client:load>
    const imgWrap = document.querySelectorAll('.imgWrap');
    setTimeout(() => {
        imgWrap.forEach(item => {
            item.classList.remove('appear');
            item.classList.add('up');
        })
    }, 600);

    const circle = document.querySelectorAll('.circle');
    setTimeout(() => {
        circle.forEach(item => {
            item.classList.remove('appear');
            item.classList.add('up');
        })
    }, 750);
</script>

