---
const { xPos, yPos, scale, rot } = Astro.props;
---

<>
    <div class="ball appear"></div>
</>

<style define:vars={{ xPos, yPos, scale, rot }}>
    .ball {
        width : 3rem;
        height : 3rem;
        background-color: var(--accentColor);
        position: absolute;
        border-radius: 100%;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .appear {
        animation: pop 450ms;
    }
</style>
