---
const { xPos, yPos, scale } = Astro.props;
---

<>
    <div class="ball"></div>
</>

<style define:vars={{ xPos, yPos, scale }}>
    .ball {
        width : 3rem;
        height : 3rem;
        background-color: var(--accentColor);
        position: absolute;
        border-radius: 100%;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale));
    }
</style>
