---
const { xPos, yPos, scale, rot, delay } = Astro.props;
---

<>
    <div class="ball appear"></div>
</>

<script client:load>
    const ball = document.querySelector('.ball');
    setTimeout(() => {
        ball.classList.remove('appear');
        ball.classList.add('up');
    }, 450);
</script>

<style define:vars={{ xPos, yPos, scale, rot, delay }}>
    .ball {
        width : 3rem;
        height : 3rem;
        background-color: var(--accentColor);
        position: absolute;
        border-radius: 100%;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .up {
        animation: upDown 6s infinite;
    }

    .appear {
        animation: pop var(--delay);
    }
</style>
