---
const { xPos, yPos, scale, rot } = Astro.props;
---

<>
    <div class="circle"></div>
</>

<script>

</script>

<style>
    .circle {
        width : 4rem;
        height : 4rem;
        box-sizing: border-box;
        border: solid var(--textColor) 0.75rem;
        border-radius: 100%;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot);
    }
</style>
