---

---

<>
    <div class="circle"></div>
</>

<script>

</script>

<style>
    .circle {
        width : 4rem;
        height : 4rem;
        box-sizing: border-box;
        border: solid var(--textColor) 0.75rem;
        border-radius: 100%;
    }
</style>
