---
const { xPos, yPos, scale, rot, delay } = Astro.props;
---

<>
    <div class="circle appear"></div>
</>

<style define:vars={{ xPos, yPos, scale, rot, delay }}>
    .circle {
        width : 3rem;
        height : 3rem;
        box-sizing: border-box;
        border: solid var(--textColor) 0.75rem;
        border-radius: 100%;
        position: absolute;
        opacity : 0.7;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .up {
        animation: upDown 12s infinite linear;
    }

    .appear {
        animation: pop var(--delay);
    }
</style>
