---
import { Image } from 'astro:assets';
const { xPos, yPos, scale, rot, img, alt, delay } = Astro.props;
---

<>
    <div class="imgWrap appear">
        <Image class="img" src={img} alt={alt} loading="lazy" decoding="async"/>
    </div>
</>

<style define:vars={{ xPos, yPos, scale, rot, delay }}>

    .imgWrap {
        width : 5rem;
        height : 5rem;
        position: absolute;
        display : block;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .img {
        width : 100%;
        height : 100%;
    }

    .appear {
        animation: pop var(--delay);
    }
</style>
