---
const { xPos, yPos, scale, rot, delay } = Astro.props;
---

<>
    <div class="square appear"></div>
</>

<script>
    const square = document.querySelector('.square');
    setTimeout(() => {
        square.classList.remove('appear');
        square.classList.add('up');
    }, 800);
</script>

<style define:vars={{ xPos, yPos, scale, rot, delay }}>
    .square {
        width : 5rem;
        height : 5rem;
        background-color: var(--primaryColor);
        display : block;
        position : absolute;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .up {
        animation: rotator 30s infinite linear;
    }

    .appear {
        animation: pop var(--delay);
    }
</style>