---
---

<>
    <div class="square"></div>
</>

<script>

</script>

<style>
    .square {
        width : 5rem;
        height : 5rem;
        background-color: var(--primaryColor);
        display : block;
        position : absolute;
    }
</style>