---
const { xPos, yPos, scale, rot } = Astro.props;
---

<>
    <div class="square"></div>
</>

<script>

</script>

<style>
    .square {
        width : 5rem;
        height : 5rem;
        background-color: var(--primaryColor);
        display : block;
        position : absolute;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot);
    }
</style>