---
const { xPos, yPos, scale, rot, delay } = Astro.props;
---

<>
    <div class="triangle appear"></div>
</>

<script client:load>
    const triangle = document.querySelector('.triangle');
    setTimeout(() => {
        triangle.classList.remove('appear');
    }, 700);
</script>

<style define:vars={{ xPos, yPos, scale, rot, delay }}>
    .triangle {
        border-style: solid;
        border-width: 0 3rem 5rem 3rem;
        border-color: transparent transparent var(--primaryColor) transparent;
        position: absolute;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .appear {
        animation: pop var(--delay);
    }
</style>