---

---

<>
    <div class="triangle"></div>
</>

<style>
    .triangle {
        border-style: solid;
        border-width: 0 100px 150px 100px;
        border-color: transparent transparent var(--primaryColor) transparent;
        transform: rotate(0deg);
        position: absolute;
    }
</style>