---
const { xPos, yPos, scale, rot } = Astro.props;
---

<>
    <div class="triangle appear"></div>
</>

<style define:vars={{ xPos, yPos, scale, rot }}>
    .triangle {
        border-style: solid;
        border-width: 0 3rem 5rem 3rem;
        border-color: transparent transparent var(--primaryColor) transparent;
        position: absolute;
        transform: translate(var(--xPos), var(--yPos)) scale(var(--scale)) rotate(var(--rot));
    }

    .appear {
        animation: pop 700ms;
    }
</style>