---
import Layout from '../../layout/layout.astro';
import Background from '../../components/Home/Background.astro';
import FancyButton from '../../components/UniversalComponents/FancyButton.astro';
import { Image } from "astro:assets";
import {ProjectsData} from "../../components/Projects/ProjectsData";
---

<Layout>
    <Background />
    <main>
        <h1 id="projectTitle"></h1>
        <div id="tags">

        </div>
        <section class="text">
            <h2>About Project:</h2>
            <p id="projectDesc"></p>
            <div class="links">
                <a id="code">
                    <FancyButton fontSize="1.2rem">Code</FancyButton>
                </a>
                <a id="live">
                    <FancyButton fontSize="1.2rem">Live</FancyButton>
                </a>
            </div>
        </section>
        <section class="image">
            <img id="img1" alt="gallery Image" />
        </section>
        <section class="image">
            <img id="img2" alt="gallery Image" />
        </section>
    </main>
</Layout>

<script lang="js" define:vars={{ ProjectsData }}>
    const url = window.location.search;
    const params = new URLSearchParams(url);
    const id = params.get('id');
    const project = ProjectsData[Number(id)];

    const img1 = document.querySelector('#img1');
    const img2 = document.querySelector('#img2');
    const h1 = document.querySelector('#projectTitle');
    const p = document.querySelector('#projectDesc');
    const codeLink = document.querySelector('#code');
    const liveLink = document.querySelector('#live');
    const tags = document.querySelector('#tags');

    h1.innerText = project.name;
    p.innerText = project.description;
    img1.src = project.images[0];
    img2.src = project.images[1];
    codeLink.href = project.codeLink;
    liveLink.href = project.liveLink;

    project.techStack.forEach(item => {
        const div = document.createElement("div");
        div.innerText = `#${item}`;

        div.style.cssText = `
            color : white;
            font-family : 'Montserrat', sans-serif;
            margin : 1rem;
            margin-left : 0rem;
            padding : .5rem;
            background-color : var(--accentColor);
            border-radius : 1rem;
        `;

        tags.appendChild(div);
    })

</script>

<style lang="scss">
  main {
    width : 100vw;
    transform: translateY(-6vh);
    min-height: 30rem;
    height: 100vh;

    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    #tags {
      width : 60%;
      display: flex;
      align-items: center;
      margin-top : 2rem;

      * {
        color : var(--textColor);
      }
    }

    h1 {
      font-family: 'Montserrat', sans-serif;
      font-size : 3rem;
      color : var(--textColor);
      width : 60%;
      min-width : 25rem;
      position: relative;
      margin-top: 5rem;

      @media screen and (max-width : 992px) {
        width : 90%;
      }

      animation: appear1 400ms;
    }

    h1::before {
      content: '';
      position: absolute;
      background-color: var(--textColor);
      width : 100%;
      height : 3px;
      bottom : 0;
      left : 0;
    }

    section {
      width : 60%;
      height : 50%;
      min-height: 30rem;
      background-color: var(--accentColor);
      margin-top: 5rem;

      @media screen and (max-width : 992px) {
        width : 90%;
      }
    }

    .image {
      height : 50%;
      min-height: 35rem;

      img {
        width : 100%;
        height : 100%;
        object-fit: cover;
      }

      @media screen and (max-width : 992px) {
        height: 30%;
        min-height: 25rem;
      }
    }

    .text {
      color : var(--textColor);
      font-family: 'Montserrat', sans-serif;
      border-radius: 2rem;
      margin-top : 2rem;

      h2 {
        font-size: 2rem;
        height: 10%;
      }

      p {
        font-size: 1.1rem;
        height: 65%;
        max-width: 60%;
        text-align: justify;
      }

      .links {
        width : 100%;

        display: flex;
        align-items: center;

        a {
          margin-left: 2rem;
          cursor: pointer;
          text-decoration: none;
        }
      }

      h2,p {
        margin : 1rem;
      }
    }
  }
</style>