---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Krystian Zieja</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="keywords" content="Krystian, Zieja, Frontend, Backend, Fullstack, Web, Developer" />
    <meta name="description" content="Krystian Zieja - web developer portfolio website" />
</head>
<body>
    <slot />
</body>
</html>
