---
import { Navigation } from '../components/Navbar/Navigation';

const textColor = '#f2f6fd';
const backgroundColor = '#060f1e';
const primaryColor = '#4b85dd';
const secondaryColor = '#071222';
const accentColor = '#276ace';
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Krystian Zieja</title>
    <meta name="author" content="Krystian Zieja" />
    <meta name="keywords" content="Krystian, Zieja, Frontend, Backend, Fullstack, Web, Developer" />
    <meta name="description" content="Krystian Zieja - web developer portfolio website" />
</head>
<body>
    <Navigation client:idle />
    <slot />
</body>
</html>

<style is:global lang="scss" define:vars=
    {{ textColor, backgroundColor, primaryColor, secondaryColor, accentColor }}>
    *,*::before,*::after {
      margin : 0;
      padding : 0;
      box-sizing: border-box;
      overflow: hidden;
    }

    body {
      background-color: var(--backgroundColor);
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 300;
        src: url('/fonts/Inter-Light.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        src: url('/fonts/Inter-Regular.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 500;
        src: url('/fonts/Montserrat-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: 'Montserrat';
        font-weight: 600;
        src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
    }

    @keyframes leftRight {
      0% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }

      50% {
        transform: scale(1) translate(calc(var(--xPos) - 4vw), var(--yPos)) rotate(var(--rot));
      }

      100% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }
    }

    @keyframes rotator {
      0% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }

      100% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(calc(var(--rot) + 360deg));
      }
    }

    @keyframes upDown {
      0% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }

      50% {
        transform: scale(1) translate(var(--xPos), calc(var(--yPos) - 5vh)) rotate(var(--rot));
      }

      100% {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }
    }

    @keyframes pop {
      from {
        transform: scale(0) rotate(0deg);
      }

      to {
        transform: scale(1) translate(var(--xPos), var(--yPos)) rotate(var(--rot));
      }
    }
</style>